<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список студентов</title>
</head>
<body>
    {% for per in page_obj %}
        {{ per.name }} {{ per.age }} {{ per.info }} <br>
    {% endfor %}

    {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}">Назад</a>
    {% endif %}
        <span>{{page_obj.number}}</span>
    {%if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">Вперед</a>
    {% endif %}
</body>
</html>